Source/Client/Business/SCM/Service References/Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SCM" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ISCM_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISCM_GetSuppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliers" />
  </wsdl:message>
  <wsdl:message name="ISCM_GetSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="ISCM_GetSupplierInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierInfo" />
  </wsdl:message>
  <wsdl:message name="ISCM_GetSupplierInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISCM_GetSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplier" />
  </wsdl:message>
  <wsdl:message name="ISCM_GetSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISCM_AddMasterData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMasterData" />
  </wsdl:message>
  <wsdl:message name="ISCM_AddMasterData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMasterDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISCM_UpdateMasterData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMasterData" />
  </wsdl:message>
  <wsdl:message name="ISCM_UpdateMasterData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMasterDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ISCM">
    <wsdl:operation name="GetSuppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCM/GetSuppliers" message="tns:ISCM_GetSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCM/GetSuppliersResponse" message="tns:ISCM_GetSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCM/GetSupplierInfo" message="tns:ISCM_GetSupplierInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCM/GetSupplierInfoResponse" message="tns:ISCM_GetSupplierInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCM/GetSupplier" message="tns:ISCM_GetSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCM/GetSupplierResponse" message="tns:ISCM_GetSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMasterData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCM/AddMasterData" message="tns:ISCM_AddMasterData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCM/AddMasterDataResponse" message="tns:ISCM_AddMasterData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMasterData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCM/UpdateMasterData" message="tns:ISCM_UpdateMasterData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCM/UpdateMasterDataResponse" message="tns:ISCM_UpdateMasterData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ISCM" type="tns:ISCM">
    <wsp:PolicyReference URI="#CustomBinding_ISCM_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetSuppliers">
      <soap12:operation soapAction="http://tempuri.org/ISCM/GetSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierInfo">
      <soap12:operation soapAction="http://tempuri.org/ISCM/GetSupplierInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplier">
      <soap12:operation soapAction="http://tempuri.org/ISCM/GetSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMasterData">
      <soap12:operation soapAction="http://tempuri.org/ISCM/AddMasterData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMasterData">
      <soap12:operation soapAction="http://tempuri.org/ISCM/UpdateMasterData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SCM">
    <wsdl:port name="CustomBinding_ISCM" binding="tns:CustomBinding_ISCM">
      <soap12:address location="net.tcp://localhost:7210/SCM" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7210/SCM</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>