Source/test/Service References/Service/Insight.WS.Server.Common.YUN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.YUN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.YUN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Products" nillable="true" type="tns:Products" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducts" nillable="true" type="tns:ArrayOfProducts" />
  <xs:complexType name="Products">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutDay" type="xs:int" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Site" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recommend" type="xs:boolean" />
      <xs:element minOccurs="0" name="SalePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Warranty" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Products" nillable="true" type="tns:Products" />
  <xs:complexType name="ArrayOfProduct_Library_Img">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product_Library_Img" nillable="true" type="tns:Product_Library_Img" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct_Library_Img" nillable="true" type="tns:ArrayOfProduct_Library_Img" />
  <xs:complexType name="Product_Library_Img">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product_Img_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Img_Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Img_ProductID" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Product_Library_Img" nillable="true" type="tns:Product_Library_Img" />
</xs:schema>