Source/test/Service References/Service/Insight.WS.Server.Common.XFB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="t_member_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="card_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="county" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="credit_sum" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="head_portrait" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="is_toPoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="submit_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="t_sys_user" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="t_sys_user1" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="use_sum" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="verify_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="verify_userid" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="t_member_info" nillable="true" type="tns:t_member_info" />
  <xs:complexType name="t_sys_user">
    <xs:sequence>
      <xs:element minOccurs="0" name="create_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="create_userid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="has_verify" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="login_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="my_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass_word" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="real_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recom_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recom_num" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="t_bank_card_info" nillable="true" type="tns:ArrayOft_bank_card_info" />
      <xs:element minOccurs="0" name="t_bank_card_info1" nillable="true" type="tns:ArrayOft_bank_card_info" />
      <xs:element minOccurs="0" name="t_category_info" nillable="true" type="tns:ArrayOft_category_info" />
      <xs:element minOccurs="0" name="t_category_info1" nillable="true" type="tns:ArrayOft_category_info" />
      <xs:element minOccurs="0" name="t_contact_info" nillable="true" type="tns:ArrayOft_contact_info" />
      <xs:element minOccurs="0" name="t_contact_info1" nillable="true" type="tns:ArrayOft_contact_info" />
      <xs:element minOccurs="0" name="t_image_info" nillable="true" type="tns:ArrayOft_image_info" />
      <xs:element minOccurs="0" name="t_image_info1" nillable="true" type="tns:ArrayOft_image_info" />
      <xs:element minOccurs="0" name="t_job_info" nillable="true" type="tns:ArrayOft_job_info" />
      <xs:element minOccurs="0" name="t_job_info1" nillable="true" type="tns:ArrayOft_job_info" />
      <xs:element minOccurs="0" name="t_member_info" nillable="true" type="tns:ArrayOft_member_info" />
      <xs:element minOccurs="0" name="t_member_info1" nillable="true" type="tns:ArrayOft_member_info" />
      <xs:element minOccurs="0" name="t_model_info" nillable="true" type="tns:ArrayOft_model_info" />
      <xs:element minOccurs="0" name="t_student_info" nillable="true" type="tns:ArrayOft_student_info" />
      <xs:element minOccurs="0" name="t_student_info1" nillable="true" type="tns:ArrayOft_student_info" />
      <xs:element minOccurs="0" name="t_verify_log" nillable="true" type="tns:ArrayOft_verify_log" />
      <xs:element minOccurs="0" name="t_verify_log1" nillable="true" type="tns:ArrayOft_verify_log" />
      <xs:element minOccurs="0" name="t_verify_quota" nillable="true" type="tns:ArrayOft_verify_quota" />
      <xs:element minOccurs="0" name="t_verify_quota1" nillable="true" type="tns:ArrayOft_verify_quota" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="update_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="update_userid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="verify_state" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="t_sys_user" nillable="true" type="tns:t_sys_user" />
  <xs:complexType name="ArrayOft_bank_card_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_bank_card_info" nillable="true" type="tns:t_bank_card_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_bank_card_info" nillable="true" type="tns:ArrayOft_bank_card_info" />
  <xs:complexType name="t_bank_card_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="card_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="is_toPoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="opening_bank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="score" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="submit_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="t_sys_user" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="t_sys_user1" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="verify_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="verify_userid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="yl_number" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="t_bank_card_info" nillable="true" type="tns:t_bank_card_info" />
  <xs:complexType name="t_category_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="create_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="create_userid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="modify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="modify_userid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parent_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="t_category_info1" nillable="true" type="tns:ArrayOft_category_info" />
      <xs:element minOccurs="0" name="t_category_info2" nillable="true" type="tns:t_category_info" />
      <xs:element minOccurs="0" name="t_model_info" nillable="true" type="tns:ArrayOft_model_info" />
      <xs:element minOccurs="0" name="t_order" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="t_sys_user" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="t_sys_user1" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="t_category_info" nillable="true" type="tns:t_category_info" />
  <xs:complexType name="ArrayOft_category_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_category_info" nillable="true" type="tns:t_category_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_category_info" nillable="true" type="tns:ArrayOft_category_info" />
  <xs:complexType name="ArrayOft_model_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_model_info" nillable="true" type="tns:t_model_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_model_info" nillable="true" type="tns:ArrayOft_model_info" />
  <xs:complexType name="t_model_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="category_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="create_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="create_userid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="max_limit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="min_limit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="score" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="t_category_info" nillable="true" type="tns:t_category_info" />
      <xs:element minOccurs="0" name="t_sys_user" nillable="true" type="tns:t_sys_user" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="t_model_info" nillable="true" type="tns:t_model_info" />
  <xs:complexType name="t_contact_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="contact_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contact_phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="is_toPoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="relationship" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="submit_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="t_sys_user" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="t_sys_user1" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="verify_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="verify_userid" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="t_contact_info" nillable="true" type="tns:t_contact_info" />
  <xs:complexType name="t_image_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="image_path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="is_toPoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="submit_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="t_sys_user" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="t_sys_user1" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="verify_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="verify_userid" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="t_image_info" nillable="true" type="tns:t_image_info" />
  <xs:complexType name="t_job_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="annual_income" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="company_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="company_nature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="county" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="is_toPoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="post" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="submit_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="t_sys_user" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="t_sys_user1" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="tel_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="verify_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="verify_userid" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="t_job_info" nillable="true" type="tns:t_job_info" />
  <xs:complexType name="t_verify_quota">
    <xs:sequence>
      <xs:element minOccurs="0" name="by_credit_userid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="credit_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="credit_userid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="quota" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="t_sys_user" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="t_sys_user1" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="t_verify_quota" nillable="true" type="tns:t_verify_quota" />
  <xs:complexType name="t_verify_log">
    <xs:sequence>
      <xs:element minOccurs="0" name="by_verify_userid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="t_sys_user" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="t_sys_user1" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="verify_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="verify_userid" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="t_verify_log" nillable="true" type="tns:t_verify_log" />
  <xs:complexType name="t_student_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="grade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="graduation_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="is_topoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="major" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="school_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="submit_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="t_sys_user" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="t_sys_user1" nillable="true" type="tns:t_sys_user" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="verify_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verify_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="verify_userid" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="t_student_info" nillable="true" type="tns:t_student_info" />
  <xs:complexType name="ArrayOft_contact_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_contact_info" nillable="true" type="tns:t_contact_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_contact_info" nillable="true" type="tns:ArrayOft_contact_info" />
  <xs:complexType name="ArrayOft_image_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_image_info" nillable="true" type="tns:t_image_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_image_info" nillable="true" type="tns:ArrayOft_image_info" />
  <xs:complexType name="ArrayOft_job_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_job_info" nillable="true" type="tns:t_job_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_job_info" nillable="true" type="tns:ArrayOft_job_info" />
  <xs:complexType name="ArrayOft_member_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_member_info" nillable="true" type="tns:t_member_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_member_info" nillable="true" type="tns:ArrayOft_member_info" />
  <xs:complexType name="ArrayOft_student_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_student_info" nillable="true" type="tns:t_student_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_student_info" nillable="true" type="tns:ArrayOft_student_info" />
  <xs:complexType name="ArrayOft_verify_log">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_verify_log" nillable="true" type="tns:t_verify_log" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_verify_log" nillable="true" type="tns:ArrayOft_verify_log" />
  <xs:complexType name="ArrayOft_verify_quota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_verify_quota" nillable="true" type="tns:t_verify_quota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_verify_quota" nillable="true" type="tns:ArrayOft_verify_quota" />
</xs:schema>