Source/test/Service References/Service/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.YUN" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" />
  <xs:element name="GetAdvertisers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetAdvertisersResult" nillable="true" type="q1:ArrayOfBIZ_Advertiser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="site" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.YUN" minOccurs="0" name="GetProductsResult" nillable="true" type="q2:ArrayOfProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="site" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.YUN" minOccurs="0" name="GetRecProductsResult" nillable="true" type="q3:ArrayOfProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="site" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.YUN" minOccurs="0" name="GetCatProductsResult" nillable="true" type="q4:ArrayOfProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="site" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.YUN" minOccurs="0" name="FindProductResult" nillable="true" type="q5:ArrayOfProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.YUN" minOccurs="0" name="GetProductResult" nillable="true" type="q6:Products" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.YUN" minOccurs="0" name="GetProductImageResult" nillable="true" type="q7:ArrayOfProduct_Library_Img" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductParm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductParmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProductParmResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductParms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductParmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProductParmsResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parms" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q10:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetOrderListResult" nillable="true" type="q11:ArrayOfOrderList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q12:Session" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oid" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetOrderResult" nillable="true" type="q14:BIZ_Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnapshot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q15:Session" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sid" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnapshotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetSnapshotResult" nillable="true" type="q17:BIZ_Product_Snapshot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q18:Session" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="order" nillable="true" type="q19:BIZ_Order" />
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrderResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q20:Session" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="order" nillable="true" type="q21:BIZ_Order" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="obj" nillable="true" type="q22:MDE_Member_Withdrawal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WithdrawalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q23:Session" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oid" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q25:Session" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oid" type="q26:guid" />
        <xs:element minOccurs="0" name="payCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q27:Session" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oid" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetBillListResult" nillable="true" type="q29:ArrayOfBillList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillPerform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q30:Session" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="objs" nillable="true" type="q31:ArrayOfABS_Contract_FundPerform" />
        <xs:element minOccurs="0" name="payCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillPerformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BillPerformResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q32:guid" />
        <xs:element minOccurs="0" name="pw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="GetSessionResult" nillable="true" type="q33:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q34:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoansResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q35:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAvailableResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q36:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasPayPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q37:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasPayPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasPayPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortrait">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q38:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortraitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPortraitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q39:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetCardsResult" nillable="true" type="q40:ArrayOfMDE_Member_Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q41:Session" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="obj" nillable="true" type="q42:MDE_Member_Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Feedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q43:Session" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FeedbackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="obj" nillable="true" type="q44:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="UserLoginResult" nillable="true" type="q45:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="obj" nillable="true" type="q46:Session" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="RegisterResult" nillable="true" type="q47:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q48:Session" />
        <xs:element minOccurs="0" name="pw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="obj" nillable="true" type="q49:Session" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q50:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPayPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q51:Session" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPayPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPayPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortrait">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q52:Session" />
        <xs:element minOccurs="0" name="pic" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortraitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPortraitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetStatesResult" nillable="true" type="q53:ArrayOfStates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="stateId" type="q54:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetCitysResult" nillable="true" type="q55:ArrayOfCitys" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cityId" type="q56:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetCountysResult" nillable="true" type="q57:ArrayOfCountys" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q58:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetAddressesResult" nillable="true" type="q59:ArrayOfMDE_Member_Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q60:Session" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q61:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetAddressResult" nillable="true" type="q62:MDE_Member_Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q63:Session" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q64:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDefaultAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeliveryAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q65:Session" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="obj" nillable="true" type="q66:MDE_Member_Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeliveryAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDeliveryAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDeliveryAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q67:Session" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="obj" nillable="true" type="q68:MDE_Member_Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDeliveryAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDeliveryAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDeliveryAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q69:Session" />
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q70:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDeliveryAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelDeliveryAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetEducateResult" nillable="true" type="q71:ArrayOfMasterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndustry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndustryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetIndustryResult" nillable="true" type="q72:ArrayOfMasterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q73:Session" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="img" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMemberType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q74:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMemberTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetMemberTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q75:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCreditStatusResult" nillable="true" type="q76:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q77:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" minOccurs="0" name="GetMemberInfoResult" nillable="true" type="q78:t_member_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitMemberInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q79:Session" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" minOccurs="0" name="info" nillable="true" type="q80:t_member_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitMemberInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitMemberInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q81:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" minOccurs="0" name="GetJobInfoResult" nillable="true" type="q82:t_job_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitJobInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q83:Session" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" minOccurs="0" name="info" nillable="true" type="q84:t_job_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitJobInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitJobInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q85:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" minOccurs="0" name="GetStudentInfoResult" nillable="true" type="q86:t_student_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitStudentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q87:Session" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" minOccurs="0" name="info" nillable="true" type="q88:t_student_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitStudentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitStudentInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q89:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" minOccurs="0" name="GetContactInfosResult" nillable="true" type="q90:ArrayOft_contact_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitContactInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q91:Session" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" minOccurs="0" name="infos" nillable="true" type="q92:ArrayOft_contact_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitContactInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitContactInfosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitBaseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q93:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitBaseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitBaseInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankCardInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q94:Session" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankCardInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" minOccurs="0" name="GetBankCardInfoResult" nillable="true" type="q95:t_bank_card_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitBankCardInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q96:Session" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.XFB" minOccurs="0" name="info" nillable="true" type="q97:t_bank_card_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitBankCardInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitBankCardInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerifyCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerifyCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVerifyCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStagePlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q98:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStagePlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetStagePlansResult" nillable="true" type="q99:ArrayOfBIZ_StagePlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidityPayPW">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" minOccurs="0" name="us" nillable="true" type="q100:Session" />
        <xs:element minOccurs="0" name="paypw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidityPayPWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidityPayPWResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePayRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="obj" nillable="true" type="q101:BIZ_Pay_Record" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePayRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePayRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tradeNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" minOccurs="0" name="GetPayRecordResult" nillable="true" type="q102:BIZ_Pay_Record" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>