Source/Client/MainApp/Service References/Service/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Login" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ILogin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogin_GetDeptList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeptList" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetDeptList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeptListResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="ILogin_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetServerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerList" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetServerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerListResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogin">
    <wsdl:operation name="GetDeptList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/GetDeptList" message="tns:ILogin_GetDeptList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/GetDeptListResponse" message="tns:ILogin_GetDeptList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/UserLogin" message="tns:ILogin_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/UserLoginResponse" message="tns:ILogin_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/GetServerList" message="tns:ILogin_GetServerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/GetServerListResponse" message="tns:ILogin_GetServerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/GetFile" message="tns:ILogin_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/GetFileResponse" message="tns:ILogin_GetFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ILogin" type="tns:ILogin">
    <wsp:PolicyReference URI="#CustomBinding_ILogin_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetDeptList">
      <soap12:operation soapAction="http://tempuri.org/ILogin/GetDeptList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/ILogin/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerList">
      <soap12:operation soapAction="http://tempuri.org/ILogin/GetServerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap12:operation soapAction="http://tempuri.org/ILogin/GetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="CustomBinding_ILogin" binding="tns:CustomBinding_ILogin">
      <soap12:address location="net.tcp://localhost:6210/Login" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6210/Login</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>