Source/Client/MasterDatas/Service References/Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MasterDatas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IMasterDatas_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMasterDatas_GetDictionarys_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionarys" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetDictionarys_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionarysResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionary" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_AddDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDictionary" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_AddDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_UpdateDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDictionary" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_UpdateDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_DelDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:DelDictionary" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_DelDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetEmployeesForName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesForName" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetEmployeesForName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesForNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetEmployeeTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeTitle" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetEmployeeTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_UpdateStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatus" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_UpdateStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetExpenses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenses" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetExpenses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpensesResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpense" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_AddExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExpense" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_AddExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_UpdateExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpense" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_UpdateExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_DelExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:DelExpense" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_DelExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetMaterials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterials" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetMaterials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterial" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_GetMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_AddMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterial" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_AddMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_UpdateMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterial" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_UpdateMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_DelMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:DelMaterial" />
  </wsdl:message>
  <wsdl:message name="IMasterDatas_DelMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelMaterialResponse" />
  </wsdl:message>
  <wsdl:portType name="IMasterDatas">
    <wsdl:operation name="GetDictionarys">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/GetDictionarys" message="tns:IMasterDatas_GetDictionarys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/GetDictionarysResponse" message="tns:IMasterDatas_GetDictionarys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/GetDictionary" message="tns:IMasterDatas_GetDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/GetDictionaryResponse" message="tns:IMasterDatas_GetDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/AddDictionary" message="tns:IMasterDatas_AddDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/AddDictionaryResponse" message="tns:IMasterDatas_AddDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/UpdateDictionary" message="tns:IMasterDatas_UpdateDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/UpdateDictionaryResponse" message="tns:IMasterDatas_UpdateDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/DelDictionary" message="tns:IMasterDatas_DelDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/DelDictionaryResponse" message="tns:IMasterDatas_DelDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/GetEmployees" message="tns:IMasterDatas_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/GetEmployeesResponse" message="tns:IMasterDatas_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesForName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/GetEmployeesForName" message="tns:IMasterDatas_GetEmployeesForName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/GetEmployeesForNameResponse" message="tns:IMasterDatas_GetEmployeesForName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/GetEmployee" message="tns:IMasterDatas_GetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/GetEmployeeResponse" message="tns:IMasterDatas_GetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/GetEmployeeTitle" message="tns:IMasterDatas_GetEmployeeTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/GetEmployeeTitleResponse" message="tns:IMasterDatas_GetEmployeeTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/AddEmployee" message="tns:IMasterDatas_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/AddEmployeeResponse" message="tns:IMasterDatas_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/UpdateEmployee" message="tns:IMasterDatas_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/UpdateEmployeeResponse" message="tns:IMasterDatas_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/UpdateStatus" message="tns:IMasterDatas_UpdateStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/UpdateStatusResponse" message="tns:IMasterDatas_UpdateStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpenses">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/GetExpenses" message="tns:IMasterDatas_GetExpenses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/GetExpensesResponse" message="tns:IMasterDatas_GetExpenses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/GetExpense" message="tns:IMasterDatas_GetExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/GetExpenseResponse" message="tns:IMasterDatas_GetExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/AddExpense" message="tns:IMasterDatas_AddExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/AddExpenseResponse" message="tns:IMasterDatas_AddExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/UpdateExpense" message="tns:IMasterDatas_UpdateExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/UpdateExpenseResponse" message="tns:IMasterDatas_UpdateExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/DelExpense" message="tns:IMasterDatas_DelExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/DelExpenseResponse" message="tns:IMasterDatas_DelExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterials">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/GetMaterials" message="tns:IMasterDatas_GetMaterials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/GetMaterialsResponse" message="tns:IMasterDatas_GetMaterials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/GetMaterial" message="tns:IMasterDatas_GetMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/GetMaterialResponse" message="tns:IMasterDatas_GetMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/AddMaterial" message="tns:IMasterDatas_AddMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/AddMaterialResponse" message="tns:IMasterDatas_AddMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/UpdateMaterial" message="tns:IMasterDatas_UpdateMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/UpdateMaterialResponse" message="tns:IMasterDatas_UpdateMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterDatas/DelMaterial" message="tns:IMasterDatas_DelMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterDatas/DelMaterialResponse" message="tns:IMasterDatas_DelMaterial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IMasterDatas" type="tns:IMasterDatas">
    <wsp:PolicyReference URI="#CustomBinding_IMasterDatas_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetDictionarys">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/GetDictionarys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDictionary">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/GetDictionary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDictionary">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/AddDictionary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDictionary">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/UpdateDictionary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDictionary">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/DelDictionary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/GetEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesForName">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/GetEmployeesForName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/GetEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTitle">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/GetEmployeeTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/AddEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/UpdateStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenses">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/GetExpenses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpense">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/GetExpense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExpense">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/AddExpense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExpense">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/UpdateExpense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelExpense">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/DelExpense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterials">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/GetMaterials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterial">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/GetMaterial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMaterial">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/AddMaterial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterial">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/UpdateMaterial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelMaterial">
      <soap12:operation soapAction="http://tempuri.org/IMasterDatas/DelMaterial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MasterDatas">
    <wsdl:port name="CustomBinding_IMasterDatas" binding="tns:CustomBinding_IMasterDatas">
      <soap12:address location="net.tcp://localhost:7210/MasterDatas" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7210/MasterDatas</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>