Source/Server/Common/Service References/Service/Internal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Internal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7280/XfbInternal/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7280/XfbInternal/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInternal_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IInternal_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_SetMemberType_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMemberType" />
  </wsdl:message>
  <wsdl:message name="IInternal_SetMemberType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMemberTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_SetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPassword" />
  </wsdl:message>
  <wsdl:message name="IInternal_SetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_SetUserStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserStatus" />
  </wsdl:message>
  <wsdl:message name="IInternal_SetUserStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_AddBankCard_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBankCard" />
  </wsdl:message>
  <wsdl:message name="IInternal_AddBankCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBankCardResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_SetBillStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetBillStatus" />
  </wsdl:message>
  <wsdl:message name="IInternal_SetBillStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetBillStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IInternal">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/Register" message="tns:IInternal_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/RegisterResponse" message="tns:IInternal_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMemberType">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/SetMemberType" message="tns:IInternal_SetMemberType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/SetMemberTypeResponse" message="tns:IInternal_SetMemberType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/SetPassword" message="tns:IInternal_SetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/SetPasswordResponse" message="tns:IInternal_SetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/SetUserStatus" message="tns:IInternal_SetUserStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/SetUserStatusResponse" message="tns:IInternal_SetUserStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBankCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/AddBankCard" message="tns:IInternal_AddBankCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/AddBankCardResponse" message="tns:IInternal_AddBankCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetBillStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/SetBillStatus" message="tns:IInternal_SetBillStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/SetBillStatusResponse" message="tns:IInternal_SetBillStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInternal" type="tns:IInternal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IInternal/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMemberType">
      <soap:operation soapAction="http://tempuri.org/IInternal/SetMemberType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap:operation soapAction="http://tempuri.org/IInternal/SetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserStatus">
      <soap:operation soapAction="http://tempuri.org/IInternal/SetUserStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBankCard">
      <soap:operation soapAction="http://tempuri.org/IInternal/AddBankCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBillStatus">
      <soap:operation soapAction="http://tempuri.org/IInternal/SetBillStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Internal">
    <wsdl:port name="BasicHttpBinding_IInternal" binding="tns:BasicHttpBinding_IInternal">
      <soap:address location="http://localhost:7280/XfbInternal" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>