Source/Client/Business/Settlement/Service References/Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Settlement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ISettlement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISettlement_GetClearingDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClearingDate" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetClearingDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClearingDateResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptsForDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptsForDate" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptsForDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptsForDateResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptsForName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptsForName" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptsForName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptsForNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetFundPlans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFundPlans" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetFundPlans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFundPlansResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetAdvance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvance" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetAdvance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvanceResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceipt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceipt" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceipt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptItem" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptItemResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptPay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptPay" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptPay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptPayResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptAttach_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptAttach" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptAttach_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptAttachResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptCode" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetReceiptCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_DelReceipt_InputMessage">
    <wsdl:part name="parameters" element="tns:DelReceipt" />
  </wsdl:message>
  <wsdl:message name="ISettlement_DelReceipt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_AddClearing_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClearing" />
  </wsdl:message>
  <wsdl:message name="ISettlement_AddClearing_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClearingResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_AddCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCheck" />
  </wsdl:message>
  <wsdl:message name="ISettlement_AddCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryDate" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryDateResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryForDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryForDate" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryForDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryForDateResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryForName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryForName" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryForName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryForNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_Get_GoodsPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_GoodsPlan" />
  </wsdl:message>
  <wsdl:message name="ISettlement_Get_GoodsPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_GoodsPlanResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryItem" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryItemResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryAttach_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryAttach" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryAttach_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryAttachResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDelivery" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_AddDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDelivery" />
  </wsdl:message>
  <wsdl:message name="ISettlement_AddDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryCode" />
  </wsdl:message>
  <wsdl:message name="ISettlement_GetDeliveryCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISettlement_DelDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:DelDelivery" />
  </wsdl:message>
  <wsdl:message name="ISettlement_DelDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelDeliveryResponse" />
  </wsdl:message>
  <wsdl:portType name="ISettlement">
    <wsdl:operation name="GetClearingDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetClearingDate" message="tns:ISettlement_GetClearingDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetClearingDateResponse" message="tns:ISettlement_GetClearingDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiptsForDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetReceiptsForDate" message="tns:ISettlement_GetReceiptsForDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetReceiptsForDateResponse" message="tns:ISettlement_GetReceiptsForDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiptsForName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetReceiptsForName" message="tns:ISettlement_GetReceiptsForName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetReceiptsForNameResponse" message="tns:ISettlement_GetReceiptsForName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFundPlans">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetFundPlans" message="tns:ISettlement_GetFundPlans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetFundPlansResponse" message="tns:ISettlement_GetFundPlans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdvance">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetAdvance" message="tns:ISettlement_GetAdvance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetAdvanceResponse" message="tns:ISettlement_GetAdvance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceipt">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetReceipt" message="tns:ISettlement_GetReceipt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetReceiptResponse" message="tns:ISettlement_GetReceipt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiptItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetReceiptItem" message="tns:ISettlement_GetReceiptItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetReceiptItemResponse" message="tns:ISettlement_GetReceiptItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiptPay">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetReceiptPay" message="tns:ISettlement_GetReceiptPay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetReceiptPayResponse" message="tns:ISettlement_GetReceiptPay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiptAttach">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetReceiptAttach" message="tns:ISettlement_GetReceiptAttach_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetReceiptAttachResponse" message="tns:ISettlement_GetReceiptAttach_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiptCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetReceiptCode" message="tns:ISettlement_GetReceiptCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetReceiptCodeResponse" message="tns:ISettlement_GetReceiptCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelReceipt">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/DelReceipt" message="tns:ISettlement_DelReceipt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/DelReceiptResponse" message="tns:ISettlement_DelReceipt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClearing">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/AddClearing" message="tns:ISettlement_AddClearing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/AddClearingResponse" message="tns:ISettlement_AddClearing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/AddCheck" message="tns:ISettlement_AddCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/AddCheckResponse" message="tns:ISettlement_AddCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryDate" message="tns:ISettlement_GetDeliveryDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryDateResponse" message="tns:ISettlement_GetDeliveryDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryForDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryForDate" message="tns:ISettlement_GetDeliveryForDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryForDateResponse" message="tns:ISettlement_GetDeliveryForDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryForName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryForName" message="tns:ISettlement_GetDeliveryForName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryForNameResponse" message="tns:ISettlement_GetDeliveryForName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_GoodsPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/Get_GoodsPlan" message="tns:ISettlement_Get_GoodsPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/Get_GoodsPlanResponse" message="tns:ISettlement_Get_GoodsPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryItem" message="tns:ISettlement_GetDeliveryItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryItemResponse" message="tns:ISettlement_GetDeliveryItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryAttach">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryAttach" message="tns:ISettlement_GetDeliveryAttach_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryAttachResponse" message="tns:ISettlement_GetDeliveryAttach_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetDelivery" message="tns:ISettlement_GetDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryResponse" message="tns:ISettlement_GetDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/AddDelivery" message="tns:ISettlement_AddDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/AddDeliveryResponse" message="tns:ISettlement_AddDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryCode" message="tns:ISettlement_GetDeliveryCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/GetDeliveryCodeResponse" message="tns:ISettlement_GetDeliveryCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettlement/DelDelivery" message="tns:ISettlement_DelDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettlement/DelDeliveryResponse" message="tns:ISettlement_DelDelivery_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ISettlement" type="tns:ISettlement">
    <wsp:PolicyReference URI="#CustomBinding_ISettlement_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetClearingDate">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetClearingDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptsForDate">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetReceiptsForDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptsForName">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetReceiptsForName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFundPlans">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetFundPlans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdvance">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetAdvance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceipt">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetReceipt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptItem">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetReceiptItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptPay">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetReceiptPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptAttach">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetReceiptAttach" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptCode">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetReceiptCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelReceipt">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/DelReceipt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClearing">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/AddClearing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCheck">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/AddCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryDate">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetDeliveryDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryForDate">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetDeliveryForDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryForName">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetDeliveryForName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_GoodsPlan">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/Get_GoodsPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryItem">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetDeliveryItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryAttach">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetDeliveryAttach" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDelivery">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/AddDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryCode">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/GetDeliveryCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDelivery">
      <soap12:operation soapAction="http://tempuri.org/ISettlement/DelDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Settlement">
    <wsdl:port name="CustomBinding_ISettlement" binding="tns:CustomBinding_ISettlement">
      <soap12:address location="net.tcp://localhost:6210/Settlement" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6210/Settlement</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>