Source/WindowsFormsApplication1/Service References/Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="XfbInterface" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IXfbInterface_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common.ORM" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IXfbInterface_GetStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStates" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_GetStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_GetCitys_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCitys" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_GetCitys_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitysResponse" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_GetCountys_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountys" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_GetCountys_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountysResponse" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_GetAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddresses" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_GetAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_AddDeliveryAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDeliveryAddress" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_AddDeliveryAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDeliveryAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_GetSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSession" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_GetSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_UpdateMember_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMember" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_UpdateMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_UpdataPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdataPassword" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_UpdataPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdataPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_GetVerifyCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerifyCode" />
  </wsdl:message>
  <wsdl:message name="IXfbInterface_GetVerifyCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerifyCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IXfbInterface">
    <wsdl:operation name="GetStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/GetStates" message="tns:IXfbInterface_GetStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/GetStatesResponse" message="tns:IXfbInterface_GetStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCitys">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/GetCitys" message="tns:IXfbInterface_GetCitys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/GetCitysResponse" message="tns:IXfbInterface_GetCitys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountys">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/GetCountys" message="tns:IXfbInterface_GetCountys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/GetCountysResponse" message="tns:IXfbInterface_GetCountys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/GetAddresses" message="tns:IXfbInterface_GetAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/GetAddressesResponse" message="tns:IXfbInterface_GetAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDeliveryAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/AddDeliveryAddress" message="tns:IXfbInterface_AddDeliveryAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/AddDeliveryAddressResponse" message="tns:IXfbInterface_AddDeliveryAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/GetSession" message="tns:IXfbInterface_GetSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/GetSessionResponse" message="tns:IXfbInterface_GetSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/UserLogin" message="tns:IXfbInterface_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/UserLoginResponse" message="tns:IXfbInterface_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/Register" message="tns:IXfbInterface_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/RegisterResponse" message="tns:IXfbInterface_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/UpdateMember" message="tns:IXfbInterface_UpdateMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/UpdateMemberResponse" message="tns:IXfbInterface_UpdateMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdataPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/UpdataPassword" message="tns:IXfbInterface_UpdataPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/UpdataPasswordResponse" message="tns:IXfbInterface_UpdataPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/ResetPassword" message="tns:IXfbInterface_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/ResetPasswordResponse" message="tns:IXfbInterface_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerifyCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IXfbInterface/GetVerifyCode" message="tns:IXfbInterface_GetVerifyCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXfbInterface/GetVerifyCodeResponse" message="tns:IXfbInterface_GetVerifyCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IXfbInterface" type="tns:IXfbInterface">
    <wsp:PolicyReference URI="#CustomBinding_IXfbInterface_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetStates">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/GetStates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitys">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/GetCitys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountys">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/GetCountys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddresses">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/GetAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDeliveryAddress">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/AddDeliveryAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSession">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/GetSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/UpdateMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdataPassword">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/UpdataPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerifyCode">
      <soap12:operation soapAction="http://tempuri.org/IXfbInterface/GetVerifyCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XfbInterface">
    <wsdl:port name="CustomBinding_IXfbInterface" binding="tns:CustomBinding_IXfbInterface">
      <soap12:address location="net.tcp://localhost:7210/Interface" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7210/Interface</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>